@using ExpenseTracker.Core.Domain.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@using Microsoft.AspNetCore.Identity

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager
@inject UserService UserService

<aside id="sidebar" style="background-color:chocolate">
    <div class="accordion" id="sidebarMenu">

      @*   <div class="list-group list-group-flush sidebar-menu-list-group"> *@
           @*  <NavLink class="list-group-item list-group-item-action" href="@Pages.Portal.DashboardPage.Route" Match="NavLinkMatch.All">
                <i class="fas fa-table-cells"></i> @L["Dashboard"]
            </NavLink>
            <NavLink class="list-group-item list-group-item-action" href="@Pages.Portal.ExpensesPage.Route" Match="NavLinkMatch.All">
                <i class="fa-solid fa-book"></i> Expenses
            </NavLink> *@


      @*       <div class="list-group list-group-flush sidebar-menu-list-group">
                <a class="list-group-item list-group-item-action collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseManage" aria-expanded="false" aria-controls="collapseManage">
                    <i class="fas fa-toolbox"></i>
                    @L["Member List"]
                    <b class="fas fa-angle-down"></b>
                </a>
                <div class="collapse" id="collapseManage" aria-labelledby="headingOne" data-bs-parent="#sidebarMenu">
                    <div class="list-group list-group-flush">
                        <NavLink class="list-group-item" href="/MemberList">  @L["Member"]</NavLink>
                     @*    <NavLink class="list-group-item" href="@Pages.Portal.ManageUsersPage.Route">Users</NavLink>
                        <NavLink class="list-group-item" href="@Pages.Portal.ManageRolesPage.Route">Roles</NavLink> *@
                  @*   </div>
                </div>
            </div> *@ 


           @*  @if (Category == "Merchant")
            {

                <div class="list-group list-group-flush sidebar-menu-list-group">
                    <a class="list-group-item list-group-item-action collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseManage" aria-expanded="false" aria-controls="collapseManage">
                    <i class="fas fa-toolbox"></i>
                    @L["Sales Report"]
                    <b class="fas fa-angle-down"></b>
                </a>
                <div class="collapse" id="collapseManage" aria-labelledby="headingOne" data-bs-parent="#sidebarMenu">
                    <div class="list-group list-group-flush">
                        <NavLink class="list-group-item" href="/MemberList">  @L["Member"]</NavLink>
                        <NavLink class="list-group-item" href="@Pages.Portal.ManageUsersPage.Route">Users</NavLink>
                        <NavLink class="list-group-item" href="@Pages.Portal.ManageRolesPage.Route">Roles</NavLink>
                    </div>
                </div>
            </div>
            } *@


            @* <div class="list-group list-group-flush sidebar-menu-list-group">
                <a class="list-group-item list-group-item-action collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseManage" aria-expanded="false" aria-controls="collapseManage">
                    <i class="fas fa-toolbox"></i>
                    @L["Activity List"]
                    <b class="fas fa-angle-down"></b>
                </a>
                <div class="collapse" id="collapseManage" aria-labelledby="headingOne" data-bs-parent="#sidebarMenu">
                    <div class="list-group list-group-flush">
                        <NavLink class="list-group-item" href="/MemberList">  @L["Member"]</NavLink>
                        <NavLink class="list-group-item" href="@Pages.Portal.ManageUsersPage.Route">Users</NavLink>
                        <NavLink class="list-group-item" href="@Pages.Portal.ManageRolesPage.Route">Roles</NavLink>
                    </div>
                </div>
            </div> *@
            <style>
                .list-group-item{
                 
                }

            </style>
        <div class="list-group list-group-flush sidebar-menu-list-group" id="sidebarMenu">
    <!-- Member List -->
            <a class="list-group-item list-group-item-action collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMember" aria-expanded="false" aria-controls="collapseMember">
      <Icon Name="IconName.PeopleFill" Color="IconColor.Info"></Icon>
        @L["Member"]
        <b class="fas fa-angle-down"></b>
    </a>
    <div class="collapse" id="collapseMember" data-bs-parent="#sidebarMenu">
        <div class="list-group list-group-flush">
            <NavLink class="list-group-item" href="/MemberList">@L["Member List"]</NavLink>
            @*  <NavLink class="list-group-item" href="#">@L["1"]</NavLink>
              <NavLink class="list-group-item" href="#">@L["2"]</NavLink>
               <NavLink class="list-group-item" href="#">@L["3"]</NavLink> *@
        </div>
    </div>

    <!-- Sales Report -->
    @if (Category == "Merchant")
    {
        <a class="list-group-item list-group-item-action collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSalesReport" aria-expanded="false" aria-controls="collapseSalesReport">
           <Icon Name="IconName.CashCoin" Color="IconColor.Warning"></Icon>
            @L["Sales Report"]
            <b class="fas fa-angle-down"></b>
        </a>
        <div class="collapse" id="collapseSalesReport" data-bs-parent="#sidebarMenu">
            <div class="list-group list-group-flush">
           @*    <NavLink class="list-group-item" href="#">@L["Demo"]</NavLink>
                <NavLink class="list-group-item" href="#">@L["Demo"]</NavLink>
                 <NavLink class="list-group-item" href="#">@L["Demo"]</NavLink> *@
            </div>
        </div>
    }

    <!-- Activity List -->
    <a class="list-group-item list-group-item-action collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseActivityList" aria-expanded="false" aria-controls="collapseActivityList">
       <Icon Name="IconName.CardList" Color="IconColor.Primary"></Icon>
         @L["Sales Report"]
        <b class="fas fa-angle-down"></b>
    </a>
    <div class="collapse" id="collapseActivityList" data-bs-parent="#sidebarMenu">
        <div class="list-group list-group-flush">
 @* <NavLink class="list-group-item" href="#">@L["Demo"]</NavLink>
  <NavLink class="list-group-item" href="#">@L["Demo"]</NavLink>
   <NavLink class="list-group-item" href="#">@L["Demo"]</NavLink> *@
        </div>
    </div>
</div>

        </div>

</aside>
<aside class="sidebar-backdrop"></aside>


@code {
 
    private string Category = string.Empty;
  
 

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = await UserService.GetCurrentUserIdAsync();
     
        if (user.Identity?.IsAuthenticated == true)
        {
            foreach (var claim in user.Claims)
            {
                Console.WriteLine($"Claim Type: {claim.Type}, Value: {claim.Value}");
            }

            Category = user.FindFirst("Category")?.Value ?? "Unknown";
        }
    }
}
