@using System.Security.Claims
@using ExpenseTracker.Extensions.Authorization
@using ExpenseTracker.WebApp.Endpoints
@using Microsoft.AspNetCore.Components.Authorization

@implements IDisposable

@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <li class="nav-item dropdown">
            <a class="avatar avatar-sm p-0" id="userDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="avatar-img bg-secondary-subtle rounded-2" src="@Assets["img/default-avatar.png"]" alt="avatar">
            </a>
            
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" data-bs-popper="static">
                <li>
                    <div class="dropdown-item">
                      @*   <h6 class="mb-0">
                            @context.User.GetDisplayName()
                        </h6> *@
                        <small>@($"@{context.User.GetUsername()}")</small>
                    </div>
                </li>

                <li><hr class="dropdown-divider"></li>

                <li><h6 class="dropdown-header">@L["Portal"]</h6></li>
                
                <li>
                    <a class="dropdown-item" href="@Pages.Portal.DashboardPage.Route">@L["Dashboard"]</a>
                </li>

                <li><hr class="dropdown-divider"></li>
                
                <li>
                    <form action="@AuthEndpoints.LogoutRoute" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                        <button type="submit" class="dropdown-item hstack justify-content-between">
                            @L["Sign Out"]
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <NavLink class="nav-link" href="@Pages.Auth.LoginPage.Route">@L["Login"]</NavLink>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
